/* YOUR CUSTOM STYLES */

html {
    width: 100%;
}

body {
    background-color: #f4f4f4;
    padding-top: 3.1rem;
    width: 100%;
}

th {
    text-align: center;
}

.my-container {
    width: 100%;
}

.navbar {
    padding: .5rem;
}

.page-actions {
    width: 100%;
    margin-bottom: .5rem;
}

.page-title {
    padding: 15px 0;
}

.table {
    width: 100% !important;
}

.select-container {
    width: 80%;
    margin: 0 auto;
}

.addresses {
    width: 80%;
    margin: 0 auto;
}